<body>

    <h1 class="titulo">Tienda de viveres

    </h1>
    <div class="galeria">
    <img class="imagen" src="./assets/img/viveres1.jpeg" alt="">
    <img class="imagen" src="./assets/img/viveres2.jpeg" alt="">
    <img class="imagen" src="./assets/img/viveres3.jpeg" alt="">
</div>

<div class="informacion">
    <h1>Horario de atención </h1>
    <p>De lunes a viernes de: 8h00 - 20h00</p>
    <p>Sábados y Domingos: 8h00 - 20h00</p>
    <h1>Sobre el negocio</h1>
    <p>Este tipo de recinto comercial ofrece alimentos envasados o de venta al peso, desde panes hasta productos lácteos pasando por conservas. </p>
</div>
<div class="container-footer">	

    <footer>
        <hr>
        <h4>Universidad Politécnica Salesiana</h4>

    </footer>
</div>
</body>
