<body>

    <h1 class="titulo">PANIFICADORA: LA RONDA</h1>
    <div class="galeria">
    <img class="imagen" src="./assets/img/panaderia.jpeg" alt="">
    <img class="imagen" src="./assets/img/panaderia2.jpeg" alt="">
    <img class="imagen" src="./assets/img/panaderia3.jpeg" alt="">
</div>

<div class="informacion">
    <h1>Horario de atención </h1>
    <p>De lunes a viernes de: 8h00 - 20h00</p>
    <p>Sábados y Domingos: 8h00 - 20h00</p>
    <h1>Sobre el negocio</h1>
    <p>El local ofrece una gran variedad de panes, pasteles y diversos productos para consumir. </p>
</div>
<div class="container-footer">	

    <footer>
        <hr>
        <h4>Universidad Politécnica Salesiana</h4>

    </footer>
</div>
</body>
