<body>

    <h1 class="titulo">Frutería</h1>
    <div class="galeria">
    <img class="imagen" src="./assets/img/fruteria1.jpeg" alt="">
    <img class="imagen" src="./assets/img/fruteria2.jpeg" alt="">
    <img class="imagen" src="./assets/img/fruteria3.jpeg" alt="">
</div>

<div class="informacion">
    <h1>Horario de atención </h1>
    <p>De lunes a viernes de: 8h00 - 20h00</p>
    <p>Sábados y Domingos: 8h00 - 17h00</p>
    <h1>Sobre el negocio</h1>
    <p>Una verdulería o frutería es una tienda en la que se despachan y se venden frutas y verduras. El establecimiento así denominado ofrece a la clientela las frutas convenientemente clasificadas a la vista. El equipamiento de una frutería suele ser una balanza reglada y en algunos países habría algún refrigerador para conservar frescas algunas variedades.</p>
</div>
<div class="container-footer">	

    <footer>
        <hr>
        <h4>Universidad Politécnica Salesiana</h4>

    </footer>
</div>
</body>
