<body>

    <h1 class="titulo">EL PALACIO DE LAS EMPANADAS

    </h1>
    <div class="galeria">
    <img class="imagen" src="./assets/img/bolones1.jpeg" alt="">
    <img class="imagen" src="./assets/img/bolones2.jpeg" alt="">
    <img class="imagen" src="./assets/img/bolones4.jpeg" alt="">
</div>

<div class="informacion">
    <h1>Horario de atención </h1>
    <p>De lunes a viernes de: 10h00 - 20h00</p>
    <p>Sábados y Domingos: 10h00 - 18h00</p>
    <h1>Sobre el negocio</h1>
    <p>Los productos que ofrece la empresa son las salteñas y empanadas con distinto relleno: </p>
    <p>1) Salteñas o empanadas con relleno de carne</p>
    <p>2) Salteñas o empanadas con relleno de pollo</p>
    <p>3) Empanadas con relleno mixto</p>
</div>
<div class="container-footer">	

    <footer>
        <hr>
        <h4>Universidad Politécnica Salesiana</h4>

    </footer>
</div>
</body>
