<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
      <div class="container">
          <div class="card">
            <img src="./assets/img/iglesia4.jfif " alt="">
            <h4>Iglesia Corazón de Jesús</h4>
            <p>La iglesia Corazón de Jesús se
              encuentra en la José Ordoñez
              y José Jiménez, los horarios
              de misa son: martes a viernes
              a las 18:00 y domingos los
              horarios de 7:00, 9:00, 11:00 y
              18:00, el párroco es el padre
              Vallejo Realpe Roger Estiven.
              La iglesia se fundó el
              08/07/1975.
              </p>
            
          </div>   
    </div>

    <div class="galeria">
        <div class="foto">
          <img src="./assets/img/iglesia3.jpeg " alt="">         
        </div>   
  </div>

  <div class="galeria">
    <div class="foto">
      <img src="./assets/img/iglesia1.jpeg " alt="">         
    </div>   
</div>

<div class="galeria">
    <div class="foto">
      <img src="./assets/img/iglesia.png " alt="">         
    </div>   
</div>
  


    <div class="container-footer">	

        <footer>
            <hr>
            <h4>Universidad Politécnica Salesiana</h4>
    
        </footer>
    </div>
   
    
      
</body>
</html>
