

<body>
  

  <div class="container">
      <div class="card">
        <img src="./assets/img/barrio3.jpeg " alt="">
        <h4>Descripción del Barrio</h4>
        <p>El barrio Corazón de Jesús esta ubicado
          desde la avenida Diego de Vasquez y la
          calle Juan Vallauri. Este barrio tiene
          alrededor de dos mil casas y unos 10 mil
          habitantes. Posee la escuela fiscal
          Federico González Suárez, la guardería
          Luz y Vida y junto a esta, una casa
          hogar para niños y adolescentes
          abandonados. Además, existe una
          iglesia y una biblioteca para los jóvenes.
          </p>
        
      </div>   
      <div class="card">
        <img src="./assets/img/barrio2.jpeg " alt="">
        <h4>Historia del Barrio</h4>
        <p>Este barrio nació con la reforma agraria de 1864. La parte alta era la
          hacienda Carcelén y la hacienda Josefina, la parte baja. Ahí se crearon los
          huasipungos de trabajadores y, con los años y las herencias, los terrenos
          fueron dividiéndose para los hijos. Así nació el caserío que se llamó
          “Sagrado Corazón de Jesús”.
          </p>
        
      </div> 
      <div class="card2">        
        <h4>Mapa del Barrio</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.628157402471!2d-78.47843132408842!3d-0.08354647090949989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58f586b6b9827%3A0xc8f63343b58396aa!2sCorazon%20de%20Jesus%2C%20Quito%20170120!5e0!3m2!1ses!2sec!4v1638226720279!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
        
      </div>   
  </div>

  <div class="container-footer">	

    <footer>
        <hr>
        <h4>Universidad Politécnica Salesiana</h4>

    </footer>
</div>


</body>
